<div class="row home-page-base">
    <div class= "col-4 offset-2 d-flex align-items-center">
        <div>
            <h1 style="color:#CFCFCF">hello im <a style="color:#F7F7F7; font-weight: 400">jansen</a></h1>
            <h5 style="color:#9E9E9E">here are my links</h5>
            <h3><a href="https://github.com/jc103820">GitHub</a></h3>
            <h3><a href="https://www.linkedin.com/in/jansencraft99">LinkedIn</a></h3>
        </div>
    </div>
    <div class= "col-4">
        <img class="shadow-lg rounded-circle" src="assets/self-portrait.jpg" style="width:100%">
    </div>
</div>
