<div class="minesweeper-dialog">
  <div class="header">
    <div class="timer"></div>
    <div class="resetButtonDiv">
      <button class="reset" (click)="resetGrid()">{{resetButtonContent}}</button>
    </div>
    <div *ngIf="showBombCount" class="bombCount">
      ⚑
      {{bombsLeft}}</div>
  </div>
    <div class="grid" oncontextmenu="return false;">
      <div *ngFor="let row of grid; let i = index" class="row">
        <div *ngFor="let cell of row; let j = index" [ngClass]="{'cell': !cell.isClickedMine, 'clicked-mine': cell.isClickedMine}">
          <button
          (click)="tryToRevealCell(i, j)"
          (contextmenu)="flagCell($event, i, j)"
          [ngClass]="{
            'untouched': !cell.isRevealed,
            'revealed': cell.isRevealed,
            'clicked-mine': cell.isClickedMine,
            'flagged': cell.isFlagged,
          }"
          [ngStyle]="{'color': cell.color}"
          >{{cell.content}}</button>
        </div>
      </div>
  </div>
</div>
