<div class="main">
    <div class="left">
            <h1 style="color:#CFCFCF">hello im <a style="color:#F7F7F7">jansen</a></h1>
            <h5 style="color:#9E9E9E">here are my links</h5>
            <h3><a href="https://github.com/jansen-craft">GitHub</a></h3>
            <h3><a href="https://www.linkedin.com/in/jansencraft99">LinkedIn</a></h3>
            <h3><a class= flag href="" (click)="onFlagClick()">⚑</a></h3>
    </div>
    <div>
        <img src="assets/self-portrait.jpg" style="border-radius: 50%;width: 100%;">
    </div>
</div>