.home-page-base {
    font-family: "Source Code Pro", monospace;
}

a {
    text-decoration: none;
    color: #515151;
}

a:hover, a:focus {
    color: #d1d1d1;
}

.main {
    font-family: 'Source Code Pro', monospace;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0px;
}

.left {
    font-size: 0.5rem;
    font-size: 1.5lvw;
    place-items: center;
    padding-top: 20%;
}